In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the contacts.xlsx Data.

In [2]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [3]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values=[]

for i, row in contact_info_df.iterrows():
    contact_info_dict = json.loads(row['contact_info'])
    row_values = [v for k, v in contact_info_dict.items()]
    dict_values.append(row_values)

In [4]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
field_names = []

for i, row in contact_info_df.iterrows():
    contact_info_dict = json.loads(row['contact_info'])
    columns = [k for k, v in contact_info_dict.items()]
    field_names.append(columns)
#check for loop returns correct column names 
print(field_names[0])

#Create dataframe
updated_contact_info_df = pd.DataFrame(dict_values, columns = field_names[0])
updated_contact_info_df.head()

['contact_id', 'name', 'email']

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [5]:
# Check the datatypes.
updated_contact_info_df.dtypes

contact_id     int64
name          object
email         object
dtype: object

In [6]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
updated_contact_info_df[['First_Name', 'Last_Name']] = updated_contact_info_df['name'].str.split(' ', expand=True)

# Drop the contact_name column
updated_contact_info_df.drop(columns='name', inplace=True)
updated_contact_info_df.head()

   contact_id                         email First_Name Last_Name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz

In [7]:
# Reorder the columns
updated_contact_info_df=updated_contact_info_df[['contact_id', 'First_Name', 'Last_Name', 'email']]
updated_contact_info_df.head()

   contact_id First_Name Last_Name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [8]:
# Check the datatypes one more time before exporting as CSV file.
updated_contact_info_df.dtypes

contact_id     int64
First_Name    object
Last_Name     object
email         object
dtype: object

In [9]:
# Export the DataFrame as a CSV file. 
updated_contact_info_df.to_csv("Resources/contacts.csv", encoding='utf8', index=False)